version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
    time: '10:00'
    timezone: Asia/Tokyo
  open-pull-requests-limit: 10
  reviewers:
  - minimum2scp
