hubot:
  image: minimum2scp/hubot:latest
  links:
    - redis
  #environment:
  #  USER_SSH_KEY_URI: your-github-account-or-http://your-site/path/to/ssh-pubkey
  #  HUBOT_SLACK_TOKEN: *******
redis:
  image: redis:latest
  command: redis-server --appendonly yes --auto-aof-rewrite-min-size 32mb --auto-aof-rewrite-percentage 50
  volumes:
    - hubot-data:/data
