name: Check upgradable packages

on:
  schedule:
    - cron: '0 14 * * *'

jobs:
  debian:
    name: debian
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: gem update --system -N
      - run: gem install bundler --version '>= 2.0.0' -N
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - run: bundle config path vendor/bundle
      - run: bundle install --jobs 4 --retry 3

      # run test
      - run: docker pull minimum2scp/debian:latest
      - run: bundle exec rspec spec/debian/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": ("${{ job.status }}" == "Success" ? "good" : "danger"),
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/debian:latest",
                    "short": true
                  },
                  {
                    "title": "github.sha",
                    "value": "<https://github.com/${{ github.repository }}/commit/${{ github.sha }}|" + "${{ github.sha }}".substring(0, 10) + ">",
                    "short": true
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  baseimage:
    name: baseimage
    runs-on: ubuntu-latest
    needs: debian
    steps:
      - uses: actions/checkout@master

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: gem update --system -N
      - run: gem install bundler --version '>= 2.0.0' -N
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - run: bundle config path vendor/bundle
      - run: bundle install --jobs 4 --retry 3

      # run test
      - run: docker pull minimum2scp/baseimage:latest
      - run: bundle exec rspec spec/baseimage/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": ("${{ job.status }}" == "Success" ? "good" : "danger"),
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/baseimage:latest",
                    "short": true
                  },
                  {
                    "title": "github.sha",
                    "value": "<https://github.com/${{ github.repository }}/commit/${{ github.sha }}|" + "${{ github.sha }}".substring(0, 10) + ">",
                    "short": true
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  debian-buster:
    name: debian-buster
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: gem update --system -N
      - run: gem install bundler --version '>= 2.0.0' -N
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - run: bundle config path vendor/bundle
      - run: bundle install --jobs 4 --retry 3

      # run test
      - run: docker pull minimum2scp/debian-buster:latest
      - run: bundle exec rspec spec/debian-buster/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": ("${{ job.status }}" == "Success" ? "good" : "danger"),
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/debian-buster:latest",
                    "short": true
                  },
                  {
                    "title": "github.sha",
                    "value": "<https://github.com/${{ github.repository }}/commit/${{ github.sha }}|" + "${{ github.sha }}".substring(0, 10) + ">",
                    "short": true
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  baseimage-buster:
    name: baseimage-buster
    runs-on: ubuntu-latest
    needs: debian-buster
    steps:
      - uses: actions/checkout@master

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: gem update --system -N
      - run: gem install bundler --version '>= 2.0.0' -N
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - run: bundle config path vendor/bundle
      - run: bundle install --jobs 4 --retry 3

      # run test
      - run: docker pull minimum2scp/baseimage-buster:latest
      - run: bundle exec rspec spec/baseimage-buster/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": ("${{ job.status }}" == "Success" ? "good" : "danger"),
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/baseimage-buster:latest",
                    "short": true
                  },
                  {
                    "title": "github.sha",
                    "value": "<https://github.com/${{ github.repository }}/commit/${{ github.sha }}|" + "${{ github.sha }}".substring(0, 10) + ">",
                    "short": true
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  debian-stretch:
    name: debian-stretch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: gem update --system -N
      - run: gem install bundler --version '>= 2.0.0' -N
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - run: bundle config path vendor/bundle
      - run: bundle install --jobs 4 --retry 3

      # run test
      - run: docker pull minimum2scp/debian-stretch:latest
      - run: bundle exec rspec spec/debian-stretch/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": ("${{ job.status }}" == "Success" ? "good" : "danger"),
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/debian-stretch:latest",
                    "short": true
                  },
                  {
                    "title": "github.sha",
                    "value": "<https://github.com/${{ github.repository }}/commit/${{ github.sha }}|" + "${{ github.sha }}".substring(0, 10) + ">",
                    "short": true
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  baseimage-stretch:
    name: baseimage-stretch
    runs-on: ubuntu-latest
    needs: debian-stretch
    steps:
      - uses: actions/checkout@master

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: gem update --system -N
      - run: gem install bundler --version '>= 2.0.0' -N
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - run: bundle config path vendor/bundle
      - run: bundle install --jobs 4 --retry 3

      # run test
      - run: docker pull minimum2scp/baseimage-stretch:latest
      - run: bundle exec rspec spec/baseimage-stretch/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": ("${{ job.status }}" == "Success" ? "good" : "danger"),
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/baseimage-stretch:latest",
                    "short": true
                  },
                  {
                    "title": "github.sha",
                    "value": "<https://github.com/${{ github.repository }}/commit/${{ github.sha }}|" + "${{ github.sha }}".substring(0, 10) + ">",
                    "short": true
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

