name: Check upgradable packages

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  debian:
    name: debian
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # run test
      - run: docker pull minimum2scp/debian:latest
      - run: bundle exec rspec spec/debian/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": "danger",
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/debian:latest",
                    "short": false
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  baseimage:
    name: baseimage
    runs-on: ubuntu-latest
    needs: debian
    steps:
      - uses: actions/checkout@v3

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # run test
      - run: docker pull minimum2scp/baseimage:latest
      - run: bundle exec rspec spec/baseimage/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": "danger",
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/baseimage:latest",
                    "short": false
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  debian-bullseye:
    name: debian-bullseye
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # run test
      - run: docker pull minimum2scp/debian-bullseye:latest
      - run: bundle exec rspec spec/debian-bullseye/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": "danger",
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/debian-bullseye:latest",
                    "short": false
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  baseimage-bullseye:
    name: baseimage-bullseye
    runs-on: ubuntu-latest
    needs: debian-bullseye
    steps:
      - uses: actions/checkout@v3

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # run test
      - run: docker pull minimum2scp/baseimage-bullseye:latest
      - run: bundle exec rspec spec/baseimage-bullseye/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": "danger",
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/baseimage-bullseye:latest",
                    "short": false
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  debian-buster:
    name: debian-buster
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # run test
      - run: docker pull minimum2scp/debian-buster:latest
      - run: bundle exec rspec spec/debian-buster/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": "danger",
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/debian-buster:latest",
                    "short": false
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  baseimage-buster:
    name: baseimage-buster
    runs-on: ubuntu-latest
    needs: debian-buster
    steps:
      - uses: actions/checkout@v3

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # run test
      - run: docker pull minimum2scp/baseimage-buster:latest
      - run: bundle exec rspec spec/baseimage-buster/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": "danger",
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/baseimage-buster:latest",
                    "short": false
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  debian-stretch:
    name: debian-stretch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # run test
      - run: docker pull minimum2scp/debian-stretch:latest
      - run: bundle exec rspec spec/debian-stretch/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": "danger",
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/debian-stretch:latest",
                    "short": false
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

  baseimage-stretch:
    name: baseimage-stretch
    runs-on: ubuntu-latest
    needs: debian-stretch
    steps:
      - uses: actions/checkout@v3

      # setup ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # run test
      - run: docker pull minimum2scp/baseimage-stretch:latest
      - run: bundle exec rspec spec/baseimage-stretch/01apt_spec.rb -e 'apt list --upgradable'

      # notify to slack
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "username": "GitHub Actions",
              "icon_emoji": ":octocat:",
              "channel": "#gh",
              "attachments": [{
                "color": "danger",
                "text": "${{ job.status }}: Workflow ${{ github.workflow }} (<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|#${{ github.run_number }}>)",
                "footer": "<https://github.com/${{ github.repository }}|${{ github.repository }}>",
                "footer_icon": "https://github.githubassets.com/favicon.ico",
                "fields": [
                  {
                    "title": "image",
                    "value": "minimum2scp/baseimage-stretch:latest",
                    "short": false
                  }
                ]
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "failure()"

